<!DOCTYPE html>
<html>
  <head>
    <title>SistemaRestaurante</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="/vendor/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/global.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :styles %>
  <style>
    #LOGO{
       display: block;
       width: 10%;
       height: 10%;
    }
  </style>
  </head>

  <body>
    <% if signed_in? %>
    <div id="app" class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <img id="LOGO" class="navbar-brand" src="https://chifa-centro.com/wp-content/uploads/2019/03/logo_chifa-1.png">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbarNavDropdown" class="navbar-collapse collapse">
              <ul class="tab_lista navbar-nav ">
                  <li class="nav-item">
                      <a class="nav-link" href="/mesa/ver">MESAS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/pedidos">PEDIDOS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/Pagos">PAGOS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/mesa/reservacion">RESERVACION</a>
                  </li>
              </ul>

              <ul class="right-nav navbar-nav">
                  <li class="nav-item">
                      <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">CONECTADO
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">

                              <li role="presentation"><a role="menuitem" tabindex="-1" href="/log_off">DESCONECTAR</a></li>    
                            </ul>

                      </div>
                  </li>

              </ul>

          </div>

      </nav>


  </div>
    <% end %>
  <%= yield %>
  </body>
    <script>
    var HOST_NAME = "http://localhost:3000";
  </script>

  <script src="/vendor/jquery-3.4.1/jquery-3.4.1.min.js"></script>
  <script src="/vendor/popper.js"></script>
  <script src="/vendor/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="/vendor/bootstrap-select/bootstrap-select.min.js"></script>
  
  <%= yield  :scripts %>

</html>
